.footer__info {
  overflow: hidden;
  >address{
    font-style: normal;
    font-size: 16.5px;
    position: relative;
    font-family: inherit;
    color: #bbcfde;
    line-height: 1.7;
    margin-left: 0;
    text-align: left;
    overflow: hidden;
    @include breakpoint(medium down) {
      text-align: center;
    }
    >a {
      color: inherit;
      font-size: 16.3px;
      padding-right: 8px;
      position: relative;
      &:hover {
        color: #96a1b2;
        transition: color ease-in-out 350ms;
      }
      &:active {
        color: #d2f0ff;
        transition: color ease-in-out 250ms;
      }
    }
  }
  >span {
    font-family: inherit;
    color: #bbcfde;
    font-size: 16.5px;
    margin-left: 0;
    text-align: left;
    @include breakpoint(medium down) {
      text-align: center;
      display: block;
    }
  }
}
