.header-logo {
    &__item {
      display: block;
      width: 180px;
      margin: 0;
      @media (min-width: 1070px) {
        width: 208px;
      }
      @include breakpoint(small down) {
        width: 155px;
      }
    }
}