.icon-block {
  display: table;
  margin: 0 21px 0 0;
  float: left;
  @include breakpoint(large down){
    margin: 0;
  }
  @include breakpoint(medium down){
    margin: 0 auto 20px;
    float: none;
  }
  &__item {
    float: left;
    margin-right: 12px;
    list-style-type: none;
  }
  &__link {
    text-decoration: none;
  }
}