.radio {
  &__label {
    display: block;
    font-family: $fontMedium;
    color: #0c344f;
    font-size: 15.1px;
    line-height: 1.3;
    cursor: pointer;
      strong {
        font-family: $fondBold;
        display: block;
        font-size: 15.2px;
        color: #0c344f;
      }
  }
  &__input-box {
    display: block;
    width: 18px;
    height: 18px;
    border:1px solid #a7a7a8;
    position: absolute;
    top: 20px;
    left: 3px;
    &::after {
      content: '';
      display: block;
      width: 9px;
      height: 2.5px;
      background-color: #a7a7a8;
      transform: rotate(-45deg);
      margin: -2.9px 0 0 5.9px;
      opacity:0;
    }
    &::before{
      display: block;
      content: '';
      width: 9px;
      height: 2.5px;
      background-color: #a7a7a8;
      transform: rotate(45deg);
      margin: 7px 0 0 1px;
      opacity: 0;
    }
    input[type="radio"] {
      display: none;
    }
  }
}

.radio__input-box > .radio__input:checked

.radio__input:checked + .radio__label {
  border:1px solid #000;
  background-color: red;
    &::after {
      content: '';
      display: block;
      width: 9px;
      height: 2.5px;
      background-color: #a7a7a8;
      transform: rotate(-45deg);
      margin: -2.9px 0 0 5.9px;
      opacity: 1;
    }
    &::before{
      display: block;
      content: '';
      width: 9px;
      height: 2.5px;
      background-color: #a7a7a8;
      transform: rotate(45deg);
      margin: 7px 0 0 1px;
      opacity: 1;
    }
}