.title {
  text-decoration: none;
  display: block;
  &_padding-section {
    text-align: center;
  }
  &__item {
    font-family: $oneFont;
    text-transform: uppercase;
    font-size: 53px;
    padding: 24px 10px 32px;
    margin: 0 auto;
    color: $white;
    &::before {
      content: '\e800';
      font-size: 19px;
      border-radius: 50%;
      border: 1px solid #fff;
      color: #fff;
      padding: 2px 0;
      vertical-align: 8px;
      margin-right: 7px;
    }
    @include breakpoint(large down) {
      font-size: 46px;
    }
    @include breakpoint(medium down){
      font-size: 40px;
      padding: 12px 10px;
    }
    @include breakpoint(small down) {
      font-size: 34px;
    }
      @media (min-width: 720px) {
        &::before {
          font-size: 24px;
        }
      }
    &_mod-font-size {
      font-size: 32px;
      padding: 16px 0 16px;
      position: relative;
      @media (min-width: 640px) {
        padding: 33px 0 29px;
      }
      @media (min-width: 720px) {
        font-size: 35px;
      }
      @media (min-width: 840px) {
        font-size: 40px;
      }
    }
  }
  &_padding-event {
    text-align: center;
  }
  &_padding-here {
    text-align: center;
  }
  &-box {
    background-image: url('../img/bg-title.png');
    background-repeat: no-repeat;
    margin-left: -0.46875rem;
    margin-right: -0.46875rem;
    @include breakpoint(medium down) {
      margin-left: -0.9375rem;
      margin-right: -0.9375rem;
    }
    @include breakpoint(small down) {
      margin-left: -0.625rem;
      margin-right: -0.625rem;

    }
      &_bg-color-1 {
        background-color: $bg-color-1;
        &:hover {
          background-color: $bg-colorHover-1;
          transition: all ease-in-out 350ms;
        }
        &:active {
          background-color: $bg-color-1;
          transition: all ease-in-out 250ms;
        }
      }
      &_bg-color-2 {
        background-color: $bg-color-2;
        &:hover {
          background-color: $bg-colorHover-2;
          transition: all ease-in-out 350ms;
        }
        &:active {
          background-color: $bg-color-2;
          transition: all ease-in-out 250ms;
        }
      }
      &_bg-color-3 {
        background-color: $bg-color-3;
        &:hover {
          background-color: $bg-colorHover-3;
          transition: all ease-in-out 350ms;
        }
        &:active {
          background-color: $bg-color-3;
          transition: all ease-in-out 250ms;
        }
      }
      &_bg-color-4 {
        background-color: $bg-color-4;
        &:hover {
          background-color: $bg-colorHover-4;
          transition: all ease-in-out 350ms;
        }
        &:active {
          background-color: $bg-color-4;
          transition: all ease-in-out 250ms;
        }
      }
  }
  &__icon {
    font-size: 19px;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    padding: 2px 0;
    vertical-align: 11px;
    margin-right: 2px;
    @media (min-width: 720px) {
      font-size: 24px;
    }
    &_mod-position1 {
      position: relative;
      font-size: 13px;
      vertical-align: middle;
      @media (min-width: 720px) {
        font-size: 17px;
      }
      @media (min-width: 1200px) {
        position: absolute;
        top: 42px;
        right: 80px;
      }
    }
    &_mod-position2 {
      position: relative;
      vertical-align: middle;
      font-size: 13px;
      @media (min-width: 720px) {
        font-size: 17px;
      }
      @media (min-width: 1200px) {
        position: absolute;
        top: 42px;
        right: 64px;
      }
    }
    &_mod-position3 {
      position: relative;
      vertical-align: middle;
      font-size: 13px;
      @media (min-width: 720px) {
        font-size: 17px;
      }
      @media (min-width: 1200px) {
        position: absolute;
        top: 42px;
        right: 83px;
      }
    }
  }
  &_bg-position {
    background-size: cover;
    background-position: -20px -19px;
  }
}

.title-event_bg-position {
  background-size: initial;
  background-position: -14px -11px;
}

.title-here_bg-position {
  background-size: initial;
  background-position: -8px -9px;
}
