.two-columns {
  position: relative;
  &::before{
    display: none;
  }
  @media (min-width: 1024px) {
    &::before {
      display: block;
      content: '';
      width: 8px;
      height: 89.2%;
      position: absolute;
      top: 4.6%;
      left: 49.8%;
      background-color: #7dafd6;
    }
  }
}