.section {
  margin-top: -68px;
  @media (min-width: 640px) {
    margin-top: -98px;
  }
  @media (min-width: 800px) {
    margin-top: -104px;
  }
    &__title {
      font-family: $threeFont;
      color: #0f578b;
      font-size: 29.2px;
      margin-bottom: 0;
        &_mod-margin {
          margin-bottom: 9px;
        }
        &__item {
          color: #4baccf;
          text-transform: uppercase;
        }
    }
    &__event {
      padding: 36px 0 30px 0;
      position: relative;
      &::before{
        display: none;
      }
      @media (min-width: 1024px) {
        padding: 36px 19px 191px 41px;
        &::before {
          display: block;
          content: '';
          width: 8px;
          height: 89.46%;
          position: absolute;
          top: 4.6%;
          left: -3.2%;
          background-color: #7dafd6;
        }
      }
    }
    &__form {
      padding: 35px 0 54px;
      @media (min-width: 1024px) {
        padding: 35px 49px 54px 48px;
      }
    }
    &__full-img {
      width: 100%;
    }
}
