.section {
  position: relative;
  z-index: 11;
  background-color: #fff;
    &__title {
      font-family: $threeFont;
      color: #0f578b;
      margin-bottom: 0;
        &_mod-margin {
          margin-bottom: 9px;
        }
        &__item {
          color: #4baccf;
          text-transform: uppercase;
        }
    }
    &__event {
      padding: 36px 0 30px;
      position: relative;
      @media (min-width: 1024px) {
        padding: 36px 19px 123px 41px;
      }
      @include breakpoint(medium down) {
        padding: 0 0 30px;
      }
    }
    &__form {
      padding: 35px 0 54px;
      @media (min-width: 1024px) {
        padding: 35px 49px 54px 48px;
      }
      @include breakpoint(medium down) {
        padding: 35px 0 20px;
      }
    }
}
